<html>

<body>
    <div class="about">
        <div>
            <h2 id="about_me_title" class="abt">
                Hello Gens, Welcome to My Page..
            </h2>
        </div>
        <br>
        <div></div>
        <div class="about_me">

            <p id="about_me" style="text-align: justify;padding: 5px;font-size: x-large;">&nbsp;&nbsp; Hi peps a warm welcome to my portfolio where you find only some of my work and links to my social media :) and this entire portfolio is build my me and OfCourse Google <br>Well this is About me right ! Allright here we go… <br>                Yes, I’m An Instrumentation Engineer who is passionate about photography and works in IT….
            </p>
            <div style="height: 250px;"></div>
        </div>
    </div>
    <br><br><br><br>
</body>

</html>