<html>

<body>
    <div>
        <h2 id="about_me_title" class="abt">
            Hello All, Welcome to My Portfolio
        </h2>
    </div>

    <div class="about">

        <br>
        <div></div>
        <div class="about_me">

            <p> Hi peps a warm welcome to My Portfolio, Where you can find links to my social media and some of my work :) Then You can ask, Why ..? For What ..? Well as you already gussed , Yes..this entire application was build by myself and ofCourse Google.
                Well this is About Me right! So-So here we go… I’m an Engineer, Who is passionate about photography and works in IT, Well this line costs five years :) Photography started in my life in way like one random day, me carrying a DSLR trying
                to figure it out its features, Don't even know how to hold it properly & trying to capture a bird flying over my head. I'm like swinging the camera and randomly clicking the button whenever I saw that bird in viewfinder and 'Just like
                That' one random I got <a (click)="openbarcode()" style="color: dodgerblue;cursor: pointer;">this</a>. awesome right..!,Yes I can't belive it either :-| if you still want hear some meaningless stories do Follow.
            </p>

        </div>




    </div>
    <br><br><br><br><br>

</body>

</html>