<html>

<body>

    <div class="about">
        <br>
        <div></div>
        <div class="about_me">
            <div class="imgMine">
                <img [src]="imgurl" draggable="false" height="360px" width="auto" alt="">
            </div>
            <hr>
            <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <em> Hi folks, </em> welcome to my portfolio! Here, you can find
                links to my social media and some of my work. :)
                You might be wondering, 'Why?' or 'For what?' Well, as you've probably guessed, yes, this entire web app
                was built by me, with the help of Google and various free resources. Primarily, I used Firebase. But
                enough about that—this is about me, right? So
                here we go… <em> I’m an Engineer, Who is passionate about Photography and works in IT.</em> Simple
                right, Well that line cost five years :) My photography journey started one random day when I picked
                up a DSLR. I had no idea how heavy it was or how to hold it properly. I was trying to capture a bird
                flying overhead, swinging the camera around and clicking randomly whenever I saw it in the viewfinder.
                and Just like That I got <a (click)="openbarcode()" style="color: dodgerblue;cursor: pointer;">this</a>.
                Awesome right..!,Yeah I can't belive it either! Later I got my own camera and chose Engineering,
                Learned many things except engineering :/
                then..bla bla covid bla...but the journey continues. I'm still learning. If you want to hear more of my
                rambling, follow me!
            </p>

        </div>
    </div>
    <br><br><br><br><br><br><br>
</body>

</html>