.about {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 2%;
    padding-top: 3%;
    font-weight: 400;
}

.about_me {
    height: auto;
    background-color: rgba(255, 255, 255, 0.795);
    padding: 25px;
    text-align: justify;
    text-justify: inter-word;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imgMine {
    padding-bottom: 3%;
    text-align: center;
}

.imgMine img {
    box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}

body {
    margin: 0;
    padding: 0;
    perspective: 1px;
    height: 100vh;
    transform-style: preserve-3d;
    image-rendering: optimizeSpeed;
    font-family: futura-pt;
    overflow: scroll;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    letter-spacing: 0em;
    line-height: 1.55em;
    text-transform: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-background-position: center;
    -moz-background-position: center;
    -o-background-position: center;
    background-position: center;
    background-color: rgb(197, 197, 197);
    /* background-image: url("https://firebasestorage.googleapis.com/v0/b/ram-port.appspot.com/o/home%2F1.jpeg?alt=media&token=144d6157-4157-48e8-83ac-9c6567384c43"); */
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

@media(max-width:600px) {
    body {
        height: 100%;
    }
    .about {
        padding-top: 10%;
    }
}

.abt {
    padding-top: 80px;
    font-size: 75px;
    width: 100vw;
    text-align: center;
    color: rgb(41, 41, 41);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;
    pointer-events: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 0.5;
}

.main {
    display: table;
    padding-top: 80px;
    width: 100%;
    text-align: center;
    color: rgb(68, 68, 68);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;
    pointer-events: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 0.5;
}

.fof {
    display: table-cell;
    vertical-align: middle;
}

.fof h1 {
    font-size: 50px;
    display: inline-block;
    padding-right: 12px;
    animation: type .5s alternate infinite;
}

@keyframes type {
    from {
        box-shadow: inset -3px 0px 0px rgb(68, 68, 68);
    }
    to {
        box-shadow: inset -3px 0px 0px transparent;
    }
}