<html>

<div>
    <div class="space"></div>
</div>


<body lightbox-group>

    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active ">
                <img [src]="carouselImgList[0].url" decoding="async" loading="lazy" class="d-block w-100" alt="img1" draggable="false">
            </div>
            <div class="carousel-item">
                <img [src]="carouselImgList[4].url" decoding="async" loading="lazy" class="d-block w-100" alt="img2" draggable="false">
            </div>
            <div class="carousel-item">
                <img [src]="carouselImgList[3].url" decoding="async" loading="lazy" class="d-block w-100" alt="img3" draggable="false">
            </div>
            <div class="carousel-item">
                <img [src]="carouselImgList[1].url" decoding="async" loading="lazy" class="d-block w-100" alt="img4" draggable="false">
            </div>
            <div class="carousel-item">
                <img [src]="carouselImgList[2].url" decoding="async" loading="lazy" class="d-block w-100" alt="img5">
            </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
            <span class="visually-hidden" >Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
      <span class="visually-hidden">Next</span>
    </button>
    </div>
    <mat-divider></mat-divider>
    <!-- Carousel End -->

    <div>
        <mat-grid-list class="tiles" cols="2" rowHeight="1.9:1.5 ">
            <mat-grid-tile [ngStyle]="{'background': 'url(' + tile.url + ')'}" *ngFor="let tile of tilesImgList">
                <div>
                    <img [src]="tile.url" loading="lazy" class="d-block w-100 tilesImg" lightbox alt="Loading..." draggable="false">
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <!-- Parallax effect - background image -->
    <div id="imgList" *ngFor="let i of imageList">
        <div [ngStyle]="{ 'background-image': 'url(' + i.url + ')'}" loading="lazy" class="box1"></div>
    </div>


</body>


</html>