<html>
<!-- SideNav Content -->
<mat-sidenav-container>
    <mat-sidenav (mouseleave)="sidenav.toggle()" #sidenavList class="sidenavList" #sidenav role="navigation" mode="over" position="start">

        <div style="height: 200px;"></div>
        <!-- SideNav List -->
        <mat-list>
            <mat-divider></mat-divider>
            <br>
            <!-- <mat-list-item  matRipple class="parent">
                <div mat-line class="sidelink" routerLink=''>
                    <span mat-list-icon><img class="iconimg sidenavIcon" draggable="false" src="https://img.icons8.com/plumpy/25/000000/home-page.png" />&nbsp;</span>
                    <span class="full-width">HOME</span>
                </div>
            </mat-list-item> -->

            <mat-list-item matRipple class="parent">

                <div mat-line class="sidelink" routerLink='Gallery'>
                    <span mat-list-icon><img class="iconimg sidenavIcon" draggable="false" src="https://img.icons8.com/plumpy/25/000000/image-gallery.png" />&nbsp;</span>
                    <span class="full-width">GALLERY</span>
                </div>
            </mat-list-item>

            <mat-list-item matRipple class="parent">

                <div mat-line class="sidelink" routerLink='About'>
                    <span mat-list-icon><img class="iconimg sidenavIcon" draggable="false" src="https://img.icons8.com/plumpy/25/000000/about.png" />&nbsp;</span>
                    <span class="full-width">ABOUT</span>

                </div>
            </mat-list-item>

            <mat-list-item matRipple>

                <div mat-line class="sidelink" (click)="OpenNFTSheet()">
                    <span mat-list-icon><img class="iconimg sidenavIcon" draggable="false" src="https://img.icons8.com/pastel-glyph/25/000000/nft.png" />&nbsp;</span>
                    <span class="full-width">NFT</span>
                </div>
            </mat-list-item>
            
            <mat-list-item matRipple>

                <div mat-line class="sidelink" (click)="Connect()">
                    <span mat-list-icon><img class="iconimg sidenavIcon" draggable="false" src="https://img.icons8.com/plumpy/25/000000/mail-contact.png" />&nbsp;</span>
                    <span class="full-width">CONNECT </span>
                </div>
            </mat-list-item>


        </mat-list>
        <br>
        <mat-divider></mat-divider>

        <br/>
        <!-- Siednav Footer -->
        <footer>
            <div class="container">

                <span class="text-muted">
                    <a class="sidenavSM" target="_blank" [href]="githuburl">
                        <img
                            src="https://img.icons8.com/fluent/35/000000/github.png" 
                            draggable="false" 
                            class="iconimg"
                        />
                    </a>
                </span>&nbsp;&nbsp;
                <span class="text-muted">
                    <a class="sidenavSM" target="_blank" [href]="twitterurl">
                        <img
                            src="https://img.icons8.com/fluent/42/000000/twitterx.png" 
                            draggable="false" 
                            class="iconimg"
                        />
                    </a>
                </span>&nbsp;&nbsp;
                <span class="text-muted">
                    <a class="sidenavSM" target="_blank" [href]="instagramurl">
                        <img
                                src="https://img.icons8.com/fluent/35/000000/instagram-new.png" 
                                draggable="false" 
                                class="iconimg"
                        />
                    </a>
                </span>&nbsp;&nbsp;
                <span class="text-muted">
                    <a class="sidenavSM" target="_blank" [href]="facebookurl">
                        <img
                            src="https://img.icons8.com/fluent/35/000000/facebook-new.png" 
                            draggable="false" 
                            class="iconimg"
                        />
                    </a>
                </span>&nbsp;&nbsp;
                <span class="text-muted">
                    <a class="sidenavSM" target="_blank" [href]="fhpixurl">
                        <img
                            src="https://img.icons8.com/windows/30/000000/500px-new.png" 
                            draggable="false" 
                            class="iconimg"
                        />
                    </a>
                </span>
            </div>
        </footer>
    </mat-sidenav>


    <!-- Toolbar -->
    <mat-sidenav-content>
        <mat-toolbar class="toolbar mat-elevation-z6" *ngIf="offsetFlag" matRipple>
            <!-- SideNav Menu -->
            <div >
                <button mat-icon-button (mouseenter)="sidenav.toggle()">
                    <img  
                    draggable="false"
                    class="iconimg menuicon" 
                    src="https://img.icons8.com/external-jumpicon-glyph-ayub-irawan/25/000000/external-_17-user-interface-jumpicon-(glyph)-jumpicon-glyph-ayub-irawan.png"/>
                </button>
            </div>
            <!-- Title imgage -->
            <div class="titlediv">
                <a routerLink=''><span class="title"> <img class="titleimg" src="https://firebasestorage.googleapis.com/v0/b/ram-port.appspot.com/o/name.jpeg?alt=media&token=7a43be4a-f41e-4eb2-8731-f96bb8b4bdfc"  alt="RAMANATHAN"></span></a>
            </div>
            <!-- Toolbar Menu -->
            <div >
                <ul  class="nav-item">
                    <!-- <li routerLink='Home'>
                        <a class="fontcl">HOME</a>
                    </li>
                    <li routerLink='Gallery'>
                        <a class="fontcl">GALLERY</a>
                    </li>
                    <li class="nftMenu" [matMenuTriggerFor]="menu" [matMenuTriggerFor]="beforeMenu">
                        <span class="fontcl" (mouseenter)="openNFTmenu()">NFT</span>
                    </li>
                    <li routerLink='About'>
                        <a class="fontcl">ABOUT</a>
                    </li>

                    <li (click)="Connect()">
                        <a class="fontcl">CONNECT</a>
                    </li> -->

                    <li class="more" [matMenuTriggerFor]="menu">
                        <span><mat-icon >more_vert</mat-icon></span>
                    </li>
                </ul>
            </div>
        </mat-toolbar>

        <!-- Git Menu Content -->
        <mat-menu #menu="matMenu">
            <a [href]="codeurl" target="_blank" rel="noopener noreferrer">
                <button mat-menu-item>
                    <img class="iconimg" src="https://img.icons8.com/material-outlined/28/000000/source-code.png"/>
                    &nbsp;
                    <span>Code</span>
                </button>
            </a>
            <a [href]="issueurl" target="_blank" rel="noopener noreferrer">
                <button mat-menu-item>
                    <img class="iconimg" src="https://img.icons8.com/material-outlined/28/000000/github.png"/>
                    &nbsp;
                    <span>Issues</span>
                </button>
            </a>
        </mat-menu>
        <!-- NFT Menu Content -->
        <mat-menu #beforeMenu="matMenu" xPosition="before">
            <a [href]="nfturl" target="_blank" rel="noopener noreferrer">
                <button mat-menu-item (mouseleave)="closeNFTmenu()">
                    <img src="https://storage.googleapis.com/opensea-static/Logomark/Logomark-Blue.png" height="30px" width="auto"/>
                    &nbsp;
                    <span>OpenSea</span>
                </button>
            </a>
        </mat-menu>

        <!-- Main -->
        <main>
            <span><mat-progress-bar *ngIf="!loader" style="height: 7px;" class="example-margin;" [color]="color" [mode]="mode">
            </mat-progress-bar></span>
            <router-outlet *ngIf="loader">

            </router-outlet>
        </main>

        <!-- Footer -->
        <footer matRipple class="footer" id="sm">
            <div class="footCon">
                <h2 class="footTxt">CONNECT</h2>
            </div>
            <div class="container">

                <span class="text-muted" matTooltip="github">
                        <a class="smlnk" target="_blank" [href]="githuburl">
                            <img
                                src="https://img.icons8.com/fluent/42/000000/github.png" 
                                draggable="false" 
                                alt="GITHUB"
                                class="iconimg"
                            />
                        </a>
                    </span>&nbsp;&nbsp;

                <span class="text-muted" matTooltip="Twitter/X">
                        <a class="smlnk" target="_blank" [href]="twitterurl">
                            <img
                                src="https://img.icons8.com/fluent/42/000000/twitterx.png" 
                                draggable="false" 
                                alt="Twitter/X"
                                class="iconimg"
                            />
                        </a>
                    </span>&nbsp;&nbsp;

                <span class="text-muted">
                        <a class="smlnk" >
                            <img
                                (mouseenter)="openbarcode()" 
                                src="https://img.icons8.com/fluent/42/000000/instagram-new.png" 
                                draggable="false" 
                                alt="INSTAGRAM"
                                class="iconimg"
                            />
                        </a>
                    </span> &nbsp;&nbsp;

                <span class="text-muted" matTooltip="facebook">
                        <a class="smlnk" target="_blank" [href]="facebookurl">
                            <img 
                                src="https://img.icons8.com/fluent/42/000000/facebook-new.png" 
                                draggable="false"
                                alt="FACEBOOK"
                                class="iconimg"
                            />
                        </a>
                    </span> &nbsp;&nbsp;

                <span class="text-muted" matTooltip="500px">
                        <a class="smlnk" target="_blank" [href]="fhpixurl">
                            <img 
                                src="https://img.icons8.com/windows/37/000000/500px-new.png" 
                                draggable="false"
                                alt="500PX"
                                class="iconimg"
                            />
                        </a>
                    </span>
            </div>
        </footer>
    </mat-sidenav-content>
</mat-sidenav-container>



<!-- GoTop button -->
<button *ngIf="!offsetFlag" matRipple id="myBtn" (click)="gotop()" matTooltip="Go Top"><mat-icon>keyboard_arrow_up</mat-icon></button>

</html>