<html>

<body>
    <div *ngIf="isiosdev" class="wrapper">
        <div class="section parallax bg1"></div>

        <div class="section static"></div>

        <div class="section parallax bg2"></div>

        <div class="section static1"></div>
    </div>

    <div *ngIf="!isiosdev" class="homehtml">
        <div class="homebody">
            <section id="hero-1">
                <div class="container"></div>
            </section>

            <section id="hero-2">
                <div class="container"></div>
            </section>

            <section id="hero-3">
                <div class="container"></div>
            </section>

            <section id="hero-4">
                <div class="container"></div>
            </section>
        </div>
    </div>
    <div class="subtitle">
        <h1>Social</h1>
        <h3>Follow my work on <a href="https://www.instagram.com/ramanathan_sks/" target="_blank">Instagram</a></h3>
    </div>
    <div class="cardsRDEM">
        <div class="box">
            <div class="card" *ngFor="let i of cardsimgList">
                <div class="imgBx">
                    <img [src]="i.url" draggable="false" class="d-block w-100" loading="lazy" alt="CARDS_IMG..">
                </div>
                <div class="details">
                    <div>
                        <span>
                            
                            <button matTooltip="Buy" mat-icon-button >
                                <mat-icon>open_in_new</mat-icon>
                              </button>
                        </span>
                        <span><button mat-icon-button [color]="color" (click)="changeColor()" >
                            <mat-icon>favorite</mat-icon>
                        </button></span>
                        <!-- <span>{{i.des}}</span>
                        <span>{{i.des}}</span> -->
                    </div>

                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
        </div>


    </div>






    <!-- <div class="about">
        <br>
        <div></div>
        <div class="about_me">
            <div class="imgMine">
                <img [src]="imgurl" draggable="false" height="360px" width="auto" alt="">
            </div>

            <p> Hi Peps a warm welcome to My Portfolio, Where you can find links to my social media and some of my work :) Yeah.. You can ask, Why ..? For What ..? Well as you already gussed , Yes..this entire web app was build by myself and ofCourse Google
                with all the free source ..., ¬_¬ Well this is About Me right! So-So here we go… <em> I’m an Engineer, Who is passionate about photography and works in IT.</em> Simple right, Well that line costs five years :) Photography started in my
                life in a way like one random day, me carrying a DSLR trying to figure it out its features, Don't even know how to hold it properly & trying to capture a bird flying over my head. I'm like swinging the camera and randomly clicking the
                button whenever I saw that bird in viewfinder and 'Just like That' one random I got <a style="color: dodgerblue;cursor: pointer;">this</a>. awesome right..!,Yes I can't belive it either :-| if you still want hear some meaningless stories
                do Follow.
            </p>

        </div>
    </div> -->

</body>

</html>