body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    perspective: 1px;
    transform-style: preserve-3d;
    background: rgba(39, 39, 39, 0.87);
    image-rendering: optimizeSpeed;
    font-family: futura-pt;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    letter-spacing: 0em;
    line-height: 1.55em;
    text-transform: none;
    color: rgba(255, 255, 255, 0.973);
}

html {
    height: 100%;
    overflow: hidden;
}

section {
    padding: 10vh;
    position: relative;
    min-height: 100vh;
    width: 100vw;
    transform-style: preserve-3d;
}

section,
section:before {
    background: 50% 50% / cover;
}

section:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#hero-3:before {
    -webkit-background-image: url("https://firebasestorage.googleapis.com/v0/b/ram-port.appspot.com/o/home%2F2.jpeg?alt=media&token=71bf153b-f0fc-4db8-880b-34b40497487b");
    -moz-background-image: url("https://firebasestorage.googleapis.com/v0/b/ram-port.appspot.com/o/home%2F2.jpeg?alt=media&token=71bf153b-f0fc-4db8-880b-34b40497487b");
    -o-background-image: url("https://firebasestorage.googleapis.com/v0/b/ram-port.appspot.com/o/home%2F2.jpeg?alt=media&token=71bf153b-f0fc-4db8-880b-34b40497487b");
    background-image: url("https://firebasestorage.googleapis.com/v0/b/ram-port.appspot.com/o/home%2F2.jpeg?alt=media&token=71bf153b-f0fc-4db8-880b-34b40497487b");
    -webkit-transform: translateZ(-1px) scale(1);
    -moz-transform: translateZ(-1px) scale(1);
    -o-transform: translateZ(-1px) scale(1);
    transform: translateZ(-1px) scale(1);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
}

#hero-4:before {
    -webkit-background-image: url("https://firebasestorage.googleapis.com/v0/b/ram-port.appspot.com/o/home%2F4.jpeg?alt=media&token=ee6a801e-5175-4a2f-aacf-d3cf2b3d50e8");
    -moz-background-image: url("https://firebasestorage.googleapis.com/v0/b/ram-port.appspot.com/o/home%2F4.jpeg?alt=media&token=ee6a801e-5175-4a2f-aacf-d3cf2b3d50e8");
    -o-background-image: url("https://firebasestorage.googleapis.com/v0/b/ram-port.appspot.com/o/home%2F4.jpeg?alt=media&token=ee6a801e-5175-4a2f-aacf-d3cf2b3d50e8");
    background-image: url("https://firebasestorage.googleapis.com/v0/b/ram-port.appspot.com/o/home%2F4.jpeg?alt=media&token=ee6a801e-5175-4a2f-aacf-d3cf2b3d50e8");
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -4;
}

#hero-1:before {
    -webkit-background-image: url("https://firebasestorage.googleapis.com/v0/b/ram-port.appspot.com/o/home%2F1.jpeg?alt=media&token=144d6157-4157-48e8-83ac-9c6567384c43");
    -moz-background-image: url("https://firebasestorage.googleapis.com/v0/b/ram-port.appspot.com/o/home%2F1.jpeg?alt=media&token=144d6157-4157-48e8-83ac-9c6567384c43");
    -o-background-image: url("https://firebasestorage.googleapis.com/v0/b/ram-port.appspot.com/o/home%2F1.jpeg?alt=media&token=144d6157-4157-48e8-83ac-9c6567384c43");
    background-image: url("https://firebasestorage.googleapis.com/v0/b/ram-port.appspot.com/o/home%2F1.jpeg?alt=media&token=144d6157-4157-48e8-83ac-9c6567384c43");
    -webkit-transform: translateZ(-1px) scale(1);
    -moz-transform: translateZ(-1px) scale(1);
    -o-transform: translateZ(-1px) scale(1);
    transform: translateZ(-1px) scale(1);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -3;
}

#hero-2:before {
    -webkit-background-image: url("https://firebasestorage.googleapis.com/v0/b/ram-port.appspot.com/o/home%2F3.JPG?alt=media&token=294c79b3-4245-48ec-a8a0-4083a6165005");
    -moz-background-image: url("https://firebasestorage.googleapis.com/v0/b/ram-port.appspot.com/o/home%2F3.JPG?alt=media&token=294c79b3-4245-48ec-a8a0-4083a6165005");
    -o-background-image: url("https://firebasestorage.googleapis.com/v0/b/ram-port.appspot.com/o/home%2F3.JPG?alt=media&token=294c79b3-4245-48ec-a8a0-4083a6165005");
    background-image: url("https://firebasestorage.googleapis.com/v0/b/ram-port.appspot.com/o/home%2F3.JPG?alt=media&token=294c79b3-4245-48ec-a8a0-4083a6165005");
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -4;
}


/* 
.normal-scroll {
    background: #fff;
    width: 100%;
    min-height: 1%;
    transform: translateZ(0px);
} */

.container {
    color: #ccc;
    font-size: 4vw;
    margin: 0 auto;
    padding: 5px 0;
    text-align: center;
    width: 100%;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
    #section-5:before {
        background-attachment: scroll;
    }
}

.subtitle {
    padding-top: 10px;
    text-align: center;
    background-color: rgba(39, 39, 39, 0.87);
    height: 100px;
    text-decoration: none;
}

.subtitle,
a {
    text-decoration: none;
}

h1 {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 22px;
    color: white;
}

h3 {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
    color: white;
}

p {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

.cardsRDEM {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgba(39, 39, 39, 0.87);
    font-family: sans-serif;
}

img {
    image-rendering: optimizeQuality;
    border-radius: 15px;
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

.box {
    width: 1200px;
    padding-top: 25px;
    padding-bottom: 85px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-gap: 20px;
    margin: 0 auto;
}

.card {
    position: relative;
    width: 250px;
    height: 320px;
    background: rgb(230, 230, 230);
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

.card:before,
.card:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: rgb(31, 30, 30);
    transition: 0.3s;
    z-index: -1;
}

.card:hover:before {
    transform: rotate(10deg);
    box-shadow: 0 2px 20px rgba(0, 0, 0, .2);
}

.card:hover:after {
    transform: rotate(-5deg);
    box-shadow: 2 3px 30px rgba(0, 0, 0, 0.404);
}

.card .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #222;
    border-radius: 15px;
    transition: 0.3s;
    transform-style: inherit;
    z-index: 1;
    filter: blur(0px);
}

.card:hover .imgBx {
    bottom: 40px;
    top: 1px;
    border-radius: 10px;
    filter: blur(.5px);
}

.card .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .details {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 30px;
    text-align: center;
}

.card .details h2 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 20px;
    color: #777;
    text-transform: uppercase;
}

.wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 8px;
    perspective: 8px;
    -ms-overflow-style: unset;
    -webkit-overflow-style: unset;
    -o-overflow-style: unset
}

.section {
    position: relative;
    height: 100vh;
    align-items: center;
    justify-content: center;
    color: white;
}

.parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-background-position: center;
    -moz-background-position: center;
    -o-background-position: center;
    background-position: center;
    -webkit-transform: translateZ(-1px) scale(1.1);
    -moz-transform: translateZ(-1px) scale(1.1);
    -o-transform: translateZ(-1px) scale(1.1);
    transform: translateZ(-1px) scale(1.1);
    z-index: -4;
}

@media(max-width:950px) {
    .parallax::after {
        content: " ";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        -webkit-background-position: center;
        -moz-background-position: center;
        -o-background-position: center;
        background-position: center;
        -webkit-transform: translateZ(-1px) scale(1.3);
        -moz-transform: translateZ(-1px) scale(1.3);
        -o-transform: translateZ(-1px) scale(1.3);
        transform: translateZ(-1px) scale(1.3);
        z-index: -4;
    }
}

.static {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-background-position: center;
    -moz-background-position: center;
    -o-background-position: center;
    background-position: center;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/ram-port.appspot.com/o/home%2F2.jpeg?alt=media&token=71bf153b-f0fc-4db8-880b-34b40497487b");
}

.static1 {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-background-position: center;
    -moz-background-position: center;
    -o-background-position: center;
    background-position: center;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/ram-port.appspot.com/o/home%2F4.jpeg?alt=media&token=ee6a801e-5175-4a2f-aacf-d3cf2b3d50e8");
}

.bg1::after {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/ram-port.appspot.com/o/home%2F1.jpeg?alt=media&token=144d6157-4157-48e8-83ac-9c6567384c43");
}

.bg2::after {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/ram-port.appspot.com/o/home%2F3.JPG?alt=media&token=294c79b3-4245-48ec-a8a0-4083a6165005");
}