<html>

<body>
    <div *ngIf="isiosdev" class="wrapper">
        <div class="section parallax bg1"></div>

        <div class="section static"></div>

        <div class="section parallax bg2"></div>

        <div class="section static1"></div>
    </div>

    <div *ngIf="!isiosdev" class="homehtml">
        <div class="homebody">
            <section id="hero-1">
                <div class="container"></div>
            </section>

            <section id="hero-2">
                <div class="container"></div>
            </section>

            <section id="hero-3">
                <div class="container"></div>
            </section>

            <section id="hero-4">
                <div class="container"></div>
            </section>
        </div>
    </div>
    <div class="subtitle">
        <h1>Social</h1>
        <h3>Follow my work on <a href="https://www.instagram.com/ramanathan_sks/" target="_blank">Instagram</a></h3>
    </div>
    <div class="cardsRDEM">
        <div class="box">
            <div class="card" *ngFor="let i of cardsimgList">
                <div class="imgBx">
                    <img matTooltipPosition="right" loading="lazy" [src]="i.url" alt="images">
                </div>
                <div class="details">
                    <h2>{{i.des}}<br></h2>
                </div>
            </div>
            <br>
            <br>
        </div>
    </div>

</body>

</html>